@import "normalize.css";

@font-face {
	font-family: "PlusJakartaSans";
	src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 1000;
}

body {
	--heading-color: var(--black);
	display: grid;
	grid-template-areas:
		"side header"
		"side main";
	grid-template-columns: max-content 1fr;
	grid-template-rows: max-content 1fr;
	min-height: 100vh;
	min-height: 100svh; /*Only when supported*/
	font-family: "PlusJakartaSans";
	font-weight: 700;
	font-size: 12px;
	line-height: 1.25em;
	color: var(--dark-grey);
}
.dark {
	--heading-color: white;
}

@for $i from 1 through 4 {
	h#{$i} {
		@extend %heading-#{$i};
	}
}

button,
input[type="submit"],
label:has(input[type="radio"]),
label:has(input[type="checkbox"]) {
	user-select: none;
	transition: background-color 0.25s;

	.hoverable &:not(:disabled) {
		/*Only set on non-mobile devices to avoid the blue flash on tap*/
		cursor: pointer;
	}
}
