@import "normalize.css";

@font-face {
	font-family: "PlusJakartaSans";
	src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 1000;
}

body {
	--heading-color: var(--black); //h1, h2 ...
	--background-color: white;
	--lines-color: var(--lines-light);
	--input-padding: 7px 15px 8px 15px;
	--input-border: 1px solid rgba(130, 143, 163, 0.25);
	--input-outline: var(--main-purple);
	display: grid;
	grid-template-areas:
		"side header"
		"side main";
	grid-template-columns: max-content 1fr;
	grid-template-rows: max-content 1fr;
	height: 100vh;
	height: 100svh; /*Only when supported*/
	overflow: hidden;
	font-family: "PlusJakartaSans";
	font-weight: 700;
	font-size: 12px;
	line-height: 1.25em;
	color: var(--medium-grey);
}
.dark {
	--heading-color: white;
	--background-color: var(--dark-grey);
	--lines-color: var(--lines-dark);
}

dialog {
	width: minMaxSize(343px, 480px);
	border-radius: 6px;
}
dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}
dialog > div {
	//max-height: 95vh;
	//overflow-y: auto;
	display: block !important;
	background: var(--background-color);
	box-sizing: border-box;
	padding: minMaxSize(24px, 32px);
}
.dark dialog > div {
	color: white;
}
dialog > div :is(input[type="text"], textarea, .my-select, .option) {
	@extend %body-L;
	width: 100%;
	box-sizing: border-box;
	border-radius: 4px;
	border: var(--input-border);
	padding: var(--input-padding);
	background: var(--background-color);

	&:focus-visible {
		outline-style: solid;
		outline-color: var(--main-purple);
	}

	.dark & {
		color: white;
	}

	&:invalid:not(:focus-visible) {
		border-color: var(--red);
	}
}

.my-select-wrapper::after {
	content: url("/images/icon-chevron-down.svg");
	display: block;
	position: absolute;
	right: 15px;
	top: calc(50% - 7.5px);
	pointer-events: none;
}

.option.highlighted {
	background: var(--lines-color) !important;
}

fieldset {
	margin-inline: 0;
	margin-top: 24px;
	padding: 0;
	border: none;
}

legend {
	margin-bottom: 8px;
}

textarea {
	--pad: 17px; //vertical padding and border
	--min-lines: 2;
	--max-lines: 4;
	resize: none;
	min-height: calc(1.77em * var(--min-lines) + var(--pad));
	max-height: calc(1.77em * var(--max-lines) + var(--pad));
}
.hoverable textarea {
	resize: vertical;
}
.tablet textarea {
	--max-lines: 5;
}

::placeholder {
	@extend %body-L;
	color: rgba(0, 1, 18, 0.25);
}
.dark ::placeholder {
	color: rgba(255, 255, 255, 0.25);
}

/*double selector to increase specificity and overwrite styles in the component*/
.open-dropdown.open-dropdown {
	--btn-color-var-1: none;
	--btn-color-hov-1: var(--lines-color);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	padding: 0;
	margin: 0;
	background: var(--btn-color-var-1);
	border: none;
}
.dropdown.dropdown {
	border: none;
	--width: 192px;
	border-radius: 8px;
}
.dropdown-button.dropdown-button {
	@extend %body-L;
	--btn-color-var-1: white;
	--btn-color-hov-1: var(--lines-color);
	text-align: start;
	padding: 16px 16px 8px 16px;
	background: var(--btn-color-var-1);
	color: var(--medium-grey);

	&:last-of-type {
		color: var(--red);
		padding: 8px 16px 16px 16px;
	}
	.dark & {
		background: var(--very-dark-grey);
	}
}

@for $i from 1 through 4 {
	h#{$i} {
		@extend %heading-#{$i};
	}
}

button,
input[type="submit"],
label:has(input[type="radio"]),
label:has(input[type="checkbox"]) {
	user-select: none;
	--btn-color-var-1: "";
	--btn-color-hov-1: "";
	--btn-color-var-2: "";
	--btn-color-hov-2: "";

	&:not(:disabled) {
		.hoverable & {
			transition: background-color 0.25s;
			cursor: pointer; /*Only set on non-mobile devices to avoid the blue flash on tap*/
		}
		.hoverable &:hover,
		&:active {
			--btn-color-var-1: var(--btn-color-hov-1) !important;
			--btn-color-var-2: var(--btn-color-hov-2) !important;
		}
	}
}
