/* Variables and mixins declared here will be available in all other SCSS files */
@import "minMaxSize.scss";

:root,
::backdrop {
	/*global css variables*/
	--main-purple: #635fc7;
	--main-purple-hover: #a8a4ff;
	--black: #000112;
	--very-dark-grey: #20212c; //Dark BG
	--dark-grey: #2b2c37;
	--lines-dark: #3e3f4e;
	--medium-grey: #828fa3;
	--lines-light: #e4ebfa;
	--light-grey: #f4f7fd; //Light BG
	--red: #ea5555;
	--red-hover: #ff9898;

	--loading-background-color: white;
	--loading-text-color: black;
}

@media (prefers-color-scheme: dark) {
	:root,
	::backdrop {
		--loading-background-color: black;
		--loading-text-color: white;
	}
}

%heading-1,
%heading-2,
%heading-3,
%heading-4 {
	margin: 0;
	font-weight: bold;
	color: var(--heading-color);
	line-height: 1.26em;
}
%heading-1 {
	font-size: minMaxSize(18px, 20px);
	.large-tablet & {
		font-size: minMaxSize(20px, 24px, 768px, 1440px);
	}
}
%heading-2 {
	font-size: 18px;
}
%heading-3 {
	font-size: 15px;
}
%heading-4 {
	font-size: 12px;
	letter-spacing: 2.4px;
	color: var(--medium-grey);
}

%body-L {
	font-weight: 500;
	font-size: 13px;
	line-height: 1.77em;
}

%strip {
	@extend %heading-3;
	--current: var(--icon-url);
	display: list-item;
	background: none;
	border: none;
	text-align: start;
	font-weight: inherit;
	border-radius: 0px 100px 100px 0px;
	width: minMaxSize(225px, 276px, 480px, 1440px);
	padding: 0 2ch 0 minMaxSize(24px, 32px, 768px, 1440px);
	box-sizing: border-box;
	height: 48px;
	line-height: 48px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	:global(.hoverable) &:not(.active):hover {
		background-color: rgba(99, 95, 199, 0.1);
		--current: var(--icon-url-hover, var(--icon-url));
		color: var(--main-purple);
	}
	:global(.dark.hoverable) &:not(.active):hover {
		background: white;
	}
	&.active {
		background: var(--main-purple);
		--current: var(--icon-url-active, var(--icon-url));
		color: white;
	}

	& span::before {
		content: var(--current, none);
		margin-right: minMaxSize(12px, 16px, 768px, 1440px);
		position: relative;
		bottom: -1.5px;
	}
}

%screen-reader-only {
	/*only visible to screen readers*/
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(
		1px 1px 1px 1px
	); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
	clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
	white-space: nowrap;
}
